*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
#icon{
  width: 30px;
  cursor: pointer;
}
.update{
    color: white;
    font-size: 18px;
}
.pic{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 861px;
    background-repeat: no-repeat;
    background-image: url(Light/output-4\ 2.png);
}
.main-header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.left-container{
    padding-left: 20px;
}
.logo{
    padding-left: 20px;
}
.header{
    padding-right: 20px;
}
.header ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    list-style: none;
}
.header a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.header-btn{
    font-size: 20px;
    padding-bottom: 20px;
}
.header-btn button {
        position: relative;
        bottom: 7px;
        background: linear-gradient(to bottom right, #8a9eff, #92A1ED);
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        font-size: 16px;
        cursor: pointer;
        box-shadow: 0 0 15px rgba(136, 34, 252, 0.7);
        outline: none;
        transition: box-shadow 0.3s ease;
}
.main{
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-left: 20px;
}
.custom-btn {
    display: inline-flex;
    align-items: center;
    padding: 7px 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    background: rgba(255,255,255,1); 
    border-radius: 50px; 
    color: white; 
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); 
    outline: none;
    transition: background 0.3s;
    gap: 10px;
  }
  .custom-btn img{
    position: relative;
    left: 5px;
  }
  .custom-btn:hover {
    background: white; 
  }
  #txtt{
    color: black;
  }
  #h1{
    font-size: 80px;
    background: linear-gradient(40deg, #D651CD, rgba(232, 90, 118, 0.6), rgba(0, 0, 0, 0.3));
    background-clip: text;  
    -webkit-background-clip: text; 
    color: transparent; 
  }
  #p{
    color: rgb(232, 232, 232);
    font-size: 18px;
    line-height: 1.3;

  }
  .second-btn{
    position: relative;
    top: 10px;
    width: 200px;
    background: linear-gradient(280deg,#F69EA3,#E970C4); 
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(136, 34, 252, 0.4);
    outline: none;
    transition: box-shadow 0.3s ease;

  }
  .second-btn:hover{
    box-shadow: 0 0 15px rgba(136, 34, 252, 1);
  }
  .right-container{
    width: 380px;
    position: relative;
    right: 20px;
    bottom: 120px;
    height: 600px;
    background-color: rgba(128, 128, 128, 0.3)    ;
    backdrop-filter: blur(20px); 
    border-radius: 20px;
    border-top: 2px solid rgba(255, 255, 255, 0.5);
  }
  .dots{
    background-image: url(Icons/Vector\ 235.png);
  }
  #h2{
    color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  .box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 20px;
  }
.icon {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(145deg, rgba(197, 204, 222, 1)  ,rgba(209, 219, 230, 0.5)); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4), inset 0 2px 4px rgba(255, 255, 255, 0.2); 
  margin-right: 20px; 
}
.icon i {
  color: white;
  font-size: 22px; 
  opacity: 0.9; 
}
.text-content h2 {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.9); 
  font-weight: 500; 
  margin: 0;
}

.text-content p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7); 
  margin-top: 4px; 
  font-weight: 300; 
}
.card {
    position: relative;
    display: flex;
    align-items: center;
    width: 350px; 
    padding: 15px 25px; 
    background-color: linear-gradient(180deg rgba(255,255,255,0.1));
    backdrop-filter: blur(12px); 
    border-radius: 15px;
    border-right: 2px solid rgba(255, 255, 255, 0.8); 
    border-top: 2px solid rgba(255, 255, 255, 0.8); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.8); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37); 
  }
.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg rgba(255,255,255,0.1)); 
    z-index: -1;
    border-radius: 15px;
  }
.bottomm{
  width: 100%;
  height: 450px;
  background-color: #555dc5;
}
.Content{
  width: 100%;
  background: linear-gradient(to bottom, #C5CCDE, #A0B2C2);
  border-top: 2px solid #555dc5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: 2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(80px);
}
.background-blur{
width: 100%;
height: 130px;
position: relative;
bottom: 80px;
background: linear-gradient(to bottom, #C5CCDE, #A0B2C2);
filter: blur(80px); 
}
.card-content{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.card-1{
  position: relative;
  bottom: 45px;
  height: 276px;
  width: 440px;
  background-color: white;
  background: linear-gradient(to bottom, #C5CCDE, #A0B2C2);
  border-radius: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.5);
  border-left: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
}
.behind-blur{
  position: relative;
  bottom: 20px;
  height: 26px;
  width: 440px;
}
.first img{
  padding-left: 340px;
  position: relative;
  bottom: 50px;
}
.card-1 h3{
  color: white;
  padding-left: 20px;
  position: relative;
  bottom: 75px;
  font-size: 24px;
  
}
.second{
  position: relative;
  bottom: 60px;
  width: 400px;
  left: 20px;
  border: 1px solid rgba(255,255,255,0.5);

}
.cardd1 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-1 hr{
  filter: blur(10px);
  box-shadow: 0 0 20px 10px rgba(255,255,255,0.5);
  position: relative;
  bottom: 60px;
  width: 300px;
  left: 20px;
  color: #8A2BE2;
}
.contenti{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
  bottom: 40px;
}
.card-1 h4{
  color: white;
  opacity: 80%;
  font-size: 20px;
  padding-left: 20px;
}
.card-1 p{
  color: white;
  opacity: 60%;
  font-size: 15px;
  padding-left: 20px;
  line-height: 1.4;

}
.third{
  display: flex;
  justify-content: center;
}
.third button{
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  color: white;
  padding: 5px 25px;
  background: radial-gradient(to top, #C5CCDE, #FFFFFF);
  border: 2px solid rgba(255,255,255,0.5);
  gap: 10px;
}
.third img{
  width: 30px;
  height: 30px;
}
.btn-text{
  position: relative;
  top: 5px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.cardd2 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.cardd3 img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}